.topright {
    float: right;
    background-color: transparent; 
    border: none; 
    outline: none;
    cursor: pointer; 
    transition: filter 0.3s ease;
}

.topleft {
    float: left;
    background-color: transparent; 
    border: none; 
    outline: none;
    cursor: pointer;
    transition: filter 0.3s ease;
}

.grid-item {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    transition: filter 0.3s ease;
}

button {
    width: 100%;
    padding: 10px;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.grid-item {
    margin: 0 10px;
    float: left;
    transition: filter 0.3s ease;
	/* margin-bottom: 60px; */
}

.topright:hover,
.topleft:hover,
.grid-item:hover {
    filter: brightness(120%);
}

.grid-container {
	display: grid;
	grid-template-columns: auto auto auto;
}

.grid-container2 {
	display: grid;
    margin-left: 135px;
    margin-top: 15px;
	grid-template-columns: auto auto auto;
}

.grid-container3 {
	display: grid;
    margin-left: 135px;
    margin-top: 13px;
	grid-template-columns: auto auto auto;
}

.container {
    position: relative;
    background-size: cover;
	background-position: center;
    justify-content: center;
    align-items: center;
	background-image: url(/assets/img/trial-bg.png);
    width: 1260px;
    height: 615px;
}

.small-image3 {
    height: 50px;
    width: 150px;
}

.small-image1 {
    height: 150px;
    width: 150px;
}

.small-image2 {
    height: 25px;
    width: 25px;
}

button.non-hoverable {
    background-color: transparent;
}
  
p {
    font-size: 13px;
}