<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.collapsible {
  background-color: rgb(241, 76, 76);
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #555;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}
</style>
</head>
<body>

<!-- Top bar -->
<div class="topleft">
    <img src="/assets/img/icon-only.png" width="50" height="50">
</div>

<div class="topright">
    <img src="/assets/img/text-only.png" width="120" height="50">
</div>

<!-- Bottom tab -->
<div class="bottom-bar">
    <div id="bottom-container">
        <div class="grid-container">
            <div class="grid-item">
                <img src="/assets/img/match-button.png" alt="Match" (click)="restaurantService.menuSelectPage()" class="small-image">
            </div>
            <div class="grid-item">
                <img src="/assets/img/rank-button.png" alt="Rank" (click)="restaurantService.likedPage()" class="small-image">
            </div>
            <div class="grid-item">
                <img src="/assets/img/review-button.png" alt="Review" (click)="restaurantService.reviewPage()" class="small-image">
            </div>
        </div>
    </div>
</div>

<!-- Collapsible Section -->
<!-- <button type="button" class="collapsible">Loved</button>
<div class="content">
  <p>You loved these restaurants.</p>
  
</div>

<br><br>

<button type="button" class="collapsible">Whatever</button>
<div class="content">
  <p>You're indifferent about these restaurants.</p>
</div>

<br><br>

<button type="button" class="collapsible">Disliked</button>
<div class="content">
  <p>You're not in the mood for these.</p>
</div> -->

<h2>Liked restaurants:</h2>
<p *ngFor="let index of restaurantService.liked">
    Name: {{restaurantService.myData[index].name}}
</p>


</body>
</html>


