<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.collapsible {
  background-color: rgb(241, 76, 76);
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #555;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}
</style>
</head>
<body>

<!-- Top bar -->
<div class="topleft">
    <img src="/assets/img/icon-only.png" width="50" height="50">
</div>

<div class="topright">
    <img src="/assets/img/text-only.png" width="120" height="50">
</div>

<!-- Bottom tab -->
<div class="bottom-bar">
    <div id="bottom-container">
        <div class="grid-container">
            <div class="grid-item">
                <img src="/assets/img/match-button.png" alt="Match" (click)="restaurantService.menuSelectPage(); restaurantService.resetFilter()" class="small-image">
            </div>
            <div class="grid-item">
                <img src="/assets/img/rank-button.png" alt="Rank" (click)="restaurantService.likedPage()" class="small-image">
            </div>
            <div class="grid-item">
                <img src="/assets/img/review-button.png" alt="Review" (click)="restaurantService.reviewPage()" class="small-image">
            </div>
        </div>
    </div>
</div>

<h2>Craving:</h2>
<p *ngFor="let index of restaurantService.getLikedRestaurants()">
    Name: {{restaurantService.myData[index].name}}
</p>

<h2>Indifferent about:</h2>
<p *ngFor="let index of restaurantService.getDisLikedRestaurants()">
    Name: {{restaurantService.myData[index].name}}
</p>

<h2>Not in the mood for:</h2>
<p *ngFor="let index of restaurantService.getindifferentRestaurant()">
    Name: {{restaurantService.myData[index].name}}
</p>

</body>
</html>


