/* body {
	background-size: cover;
	background-position: center;
	background-image: url(/assets/img/trial-bg.png);
	background-color: #ffd6e9;
	color: #000000;
    text-align: center;
	margin-top: 100px;
} */

/* .container {
    background-size: cover;
	background-position: center;
	background-image: url(/assets/img/trial-bg.png);
    width: 1260px;
    height: 615px;
} */

.container {
    position: relative;
    width: 1260px;
    height: 615px;
    background-size: cover;
    background-position: center;
    background-image: url(/assets/img/trial-bg.png);
    display: flex;
    justify-content: center;
    align-items: center;
}

.center {
	text-align: center; 
}

.bottom-bar {
    margin-top: 20px;
}
