

<!-- <!DOCTYPE HTML>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width">
      <title> College Cuisine </title>
      <link rel="stylesheet" href="main-page.component.css"> -->
      <!-- <script src="main.js" defer></script> -->
  <!-- </head>
  <body>
      <h2>1/20 - [type of food]</h2>
      <img src="https://images-assets.nasa.gov/image/PIA03654/PIA03654~orig.jpg" alt="A Cauldron of Stars" width="500" height="600">
      <input type="checkbox" id="Dine-in" name="Dine-in" value="Dine-in">
      <label for="Dine-in">Dine-in</label><br>
      <input type="checkbox" id="Take-out" name="Take-out" value="Take-out">
      <label for="Take-out">Take-out</label><br>
      <input type="checkbox" id="Delivery" name="Delivery" value="Delivery">
      <label for="Delivery">Delivery</label><br>
      <div id="container">
          <div class="grid-container">
            <div class="grid-item">
              <button type="button" id="Pass" class="small_btn">Pass</button>
            </div>
            <div class="grid-item">
              <button type="button" id="Three" class="small_btn">❤️❤️❤️</button>
            </div>
            <div class="grid-item">
              <button type="button" id="Two" class="small_btn">❤️❤️</button>
            </div>
            <div class="grid-item">
              <button type="button" id="One" class="small_btn">❤️</button>
            </div>
          </div>
      </div>
      <p>hello! :D</p>
  </body>
</html>  -->

<!DOCTYPE HTML>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width">
      <title> Flavor Match </title>
      <link rel="stylesheet" href="main-page.component.css"> 
    </head>

<body>
<!-- top bar -->
<img src="/assets/img/better-fm-logo.png"
width="1000" 
height="270">
</body> 

<body>
<!-- bottom tab -->
<div class="bottom-bar">
    <button (click)="restaurantService.menuSelectPage()">Start!</button>
</div>
</body> 