<div class="container">

  <div class="center">
    
    <div class="glow">
    <img src="/assets/img/better-fm-logo.png"
    width="700" 
    height="195">
    </div>
    
    <div class="text">
      <p style="color:palevioletred;">Find a relationship that will last forever ❤️</p>
    </div>

    <div class="bottom-bar">
      <button mat-stroked-button class="non-hoverable" (click)="restaurantService.menuSelectPage(); restaurantService.resetFilter()">
        <img src="/assets/img/start-button.png" alt="Start" class="small-image1">
      </button>
    </div>
  </div>

</div>