<!-- <!DOCTYPE HTML>
 <html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title> College Cuisine </title>
        <link rel="stylesheet" href="main-page.component.css">
        <script src="main.js" defer></script>
    </head>
<body>
    <h5>Hi!</h1>
    <h2>What's up!</h2>
    <img src="https://images-assets.nasa.gov/image/PIA03654/PIA03654~orig.jpg" alt="A Cauldron of Stars" width="500" height="600">
    <h1>[restaurant name]</h1>
    <input type="checkbox" id="Dine-in" name="Dine-in" value="Dine-in">
    <label for="Dine-in">Dine-in</label><br>
    <input type="checkbox" id="Take-out" name="Take-out" value="Take-out">
    <label for="Take-out">Take-out</label><br>
    <input type="checkbox" id="Delivery" name="Delivery" value="Delivery">
    <label for="Delivery">Delivery</label><br>
    <div id = "container">
        <div class = "grid-container">
          <div class ="grid-item">
            <button type = "button" id = "Pass" class = "small_btn">Pass</button>
          </div>
          <div class="grid-item">
            <button type = "button" id = "Three" class = "small_btn">❤️❤️❤️</button>
          </div>
          <div class="grid-item">
            <button type = "button" id = "Two" class = "small_btn">❤️❤️</button>
          </div>
          <div class="grid-item">
            <button type = "button" id = "One" class = "small_btn">❤️</button>
          </div>
    </body>
</html>  -->
<p>hello! :D</p>