<p>menu-select works!</p>

<body>
    <!-- top bar -->
    <div class="topleft">
    <img src="/assets/img/icon-only.png"
    width="50" 
    height="50">
    </div>
    
    <div class="topright">
        <img src="/assets/img/text-only.png"
        width="200" 
        height="50">
    </div>
</body>

<form>
    <label>Select City:</label>
    <select #city id="city" name="city">
        <option value="rtp">RTP</option>
        <option value="chapel-hill">Chapel Hill</option>
        <option value="durham">Durham</option>
        <option value="raleigh">Raleigh</option>
    </select>
    <br><br>

    <label>Select Cuisine:</label>
    <select #cuisine id="cuisine" name="cuisine">
        <option value="all">All</option>
        <option value="american">American</option>
        <option value="asian">Asian</option>
        <option value="indian">Indian</option>
        <option value="italian">Italian</option>
        <option value="mexican">Mexican</option>
    </select>
    <button type="button"
     (click)="filter(city.value, cuisine.value)">Filter</button>
</form>

<br>
<!-- bottom tab -->
<div class="bottom-bar">
    <button (click)="restaurantService.menuSelectPage()">Swipes</button>
    <button (click)="restaurantService.likedPage()">Picks</button>
    <button (click)="restaurantService.reviewPage()">Reviews</button>
</div>