.topright {
    float: right;
    background-color: transparent; 
    border: none; 
    outline: none;
    cursor: pointer; 
    transition: filter 0.3s ease;
}

.topleft {
    float: left;
    background-color: transparent; 
    border: none; 
    outline: none;
    cursor: pointer;
    transition: filter 0.3s ease;
}

.grid-item {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    transition: filter 0.3s ease;
}

.topright:hover,
.topleft:hover,
.grid-item:hover {
    filter: brightness(120%);
}

.middle:hover {
    filter: brightness(120%)
}

.middle {
    margin-bottom: 21px;
}

.container {
    position: relative;
    background-size: cover;
	background-position: center;
    justify-content: center;
    align-items: center;
	background-image: url(/assets/img/trial-bg.png);
    width: 1260px;
    height: 615px;
}

.content {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    max-width: 600px;
    margin: 0 auto;
}

.restaurant-details {
    flex-grow: 1;
}

.cuisine-images {
    display: flex;
    justify-content: flex-end;
    margin-top: 75px;
}

.column {
    display: flex;
    justify-content: center;
    margin-top: -20px;
    margin-bottom: -34px;
    height: 400px;
}

.small-image1 {
    height: 150px;
    width: 150px;
}

.small-image2 {
    height: 275px;
    width: 275px;
    margin-right: 34px;
    margin-top: -32px;
}

.small-image3 {
    height: 50px;
    width: 150px;
}

h2 {
    font-size: 18px;
}
  
p {
    font-size: 13px;
}

button {
    width: 100%;
    padding: 10px;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button.non-hoverable {
    background-color: transparent;
}